@using System.Reflection;
@using Mesa.Juegos.Modules;
<Fluxor.Blazor.Web.StoreInitializer/>
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="_extractAssembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Recurso No Encontrado</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Lo Sineto no se ha encontrado esta pagina.</p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    readonly List<Assembly> _extractAssembly = new()
    {
        typeof(DummyMarker).Assembly
    };
}